*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: #be3144;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#navbar{
    width: 40%;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width:100%;
}

#navbar .navbar__link{
    text-decoration: none;
    display: block;
    padding: 12px 18px;
    color: white;
    font-size: 22px;
}
#welcome-section{
    height: 100vh;
    padding: 5vh 2%;
    background-color: rgb(77, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-section__title, .welcome-section__description{
    color: white;
}

.welcome-section__title{
    font-size: 42px;

}

.welcome-section__description{
    color: rgb(219, 52, 52);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}


#navbar .navbar__link:hover{
    color: rgb(223, 219, 219);
}